@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
}
